# Папки сборки CMake
/build/
/cmake-build-*/
/**/build/
build/


# CMake-сгенерированные файлы и каталоги
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Testing/
Makefile
cmake_build/

# Компиляционные базы и логи
compile_commands.json
Testing/*

# Ninja-артефакты
build.ninja
.ninja_deps
.ninja_log

# Настройки VS Code
.vscode/
/*.code-workspace

# Игнорируем файлы Git-модулей (метаданные)
.git/modules/

# Общие временные и резервные файлы
*~ 
*.swp
*.swo
*.orig
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Пользовательские настройки редакторов (если есть)
*.user

.out
.bin

.cache/

